<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class= "description ">
    About  
    <span class="aboutchurchome">My ChurcHome </span>
  </h1> 
  
  <br/>

    <p class="description text-justify">
   If you're looking for a church to call home or you've already found one, then your're on the right site. My ChurcHome is a place where anyone can add a church, make edits, and post comments. The goal is to have churches from every city listed out so that whenever someone is visitng a new city they will have a church to visit and hopefully a place to call home.      
    </p>

  <br/>
  <br/>
  <br/>

    <p>
      <span class = authlogo>
        <%= link_to 'http://smithsaintil.com.s3-website-us-east-1.amazonaws.com/' do %>
        About Author
        <i class="glyphicon glyphicon-user"></i>
        <% end %>
      </span>
    </p>

</div>