<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class= "description ">
    Privacy  
    <span class="aboutchurchome">My ChurcHome </span>
  </h1> 
  
  <br/>

    <p class="description text-justify">
   My ChurcHome is a place where anyone can search, add, or post comments about a place of worship that they have visited. The goal is to have churches from every city listed out so that whenever someone is visitng a new city they will have a church to visit and hopefully a place to call home. While people are encouraged to be honest, please refrain from posting any comments that are more hurtful than helpful.
   
   <br />
   <br />

   <i>Anonymity</i> is intentional to protect the identity of those sharing their thoughts and experiences.        
    </p>
</div>