<div>
  <%=form_tag(search_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :search, nil, placeholder: "Search My ChurcHome", class: 'searchbox col-xs-6 col-xs-offset-3' %>
    <%= submit_tag "Search", name: nil, class: 'submitbox btn btn-primary' %> 
  <% end %>
  
</div>
