@import "bootstrap-sprockets";
@import "bootstrap";


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background-color: rgba(0,0,0,0.45);
  border: 1px solid #ccc;
  border-color: #8c8c8c #8c8c8c #8c8c8c #8c8c8c;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


.pagstyle {
  border: 2px solid;
  border-radius: 7.5px;
  padding: 5px;
  margin: 2px;
}  

#map {
  height: 300px; 
}

.clear {
  clear: both;
}

blockquote {
  background: #ffffff;
  border-left: 10px solid #ccc;
  border-radius: 4px;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  color: #000000;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.aboutchurchome {
  color: #f0c078;
  font-family: 'Wendy One', sans-serif;
  font-size: 46px;
}

.description {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  color: #ffffff;
}

.authlogo a {
color: #f0c078;  
}

.searchbox {
  border: 1px solid;
  border-color: #cccccc;
  border-radius: 4px; 
  height: 34px;
  margin-top: 10px;
  color: #000000;
}

.submitbox {
  margin-top: 10px;
}